
// Set the color theme here
$_color-theme: $_color-theme_dark2;

$color_primary:                map-get($_color-theme, primary);
$color_secondary:              map-get($_color-theme, secondary);
$color_danger:                 map-get($_color-theme, danger);
$color_safe:                   map-get($_color-theme, safe);
$color_passive:                map-get($_color-theme, passive);
$color_highlight:              map-get($_color-theme, highlight);
$color_background:             map-get($_color-theme, background);
$color_text:                   map-get($_color-theme, text);
$color_diagram:                map-get($_color-theme, diagram-background);
$color_diagram-text:           map-get($_color-theme, diagram-text);
$color_diagram-high-c-grey:    map-get($_color-theme, diagram-high-c-grey);
$color_diagram-low-c-grey:     map-get($_color-theme, diagram-low-c-grey);
$color_negative-text:          map-get($_color-theme, negative-text);
$color_navigation-buttons:     map-get($_color-theme, navigation-buttons);
$color_navbar-background:      map-get($_color-theme, navbar-background-color);
$color_navbar:                 map-get($_color-theme, navbar-color);
$color_navbar-hover:           map-get($_color-theme, navbar-hover-color);
$color_navbar-active:          map-get($_color-theme, navbar-active-color);
$color_navbar-disabled:        map-get($_color-theme, navbar-disabled-color);
$color_navbar-toggler-border:  map-get($_color-theme, navbar-toggler-border-color);
$icon_navbar-toggler:          map-get($_color-theme, navbar-toggler-icon);

/* stylelint-disable property-case, property-no-unknown, selector-pseudo-class-no-unknown */
$defaultColors: (
  primary: $color_primary,
  secondary: $color_secondary,
  danger: $color_danger,
  safe: $color_safe,
  passive: $color_passive,
  highlight: $color_highlight,
  background: $color_background,
  text: $color_text,
  //
  // Diagram
  diagram: $color_diagram,
  diagramText: $color_diagram-text,
  negativeText: $color_negative-text,
  latin: $color_secondary,
  english: $color_secondary,
  highlightText: $color_secondary,
  highCGrey: $color_diagram-high-c-grey,
  lowCGrey: $color_diagram-low-c-grey,
  //
  navigationButtons: $color_navigation-buttons,
  //
  // Navbar
  navbar: $color_navbar,
  navbarBackground: $color_navbar-background,
  navbarHover: $color_navbar-hover,
  navbarActive: $color_navbar-active,
  navbarDisabled: $color_navbar-disabled,
  navbarTogglerBorder: $color_navbar-toggler-border,
);

@mixin color_vars($color-map) {
  @each $var, $value in $color-map {
    @if type-of($value) == "map" {
      @each $subvar, $subvalue in $value {
        @if type-of($subvalue) == "map" {
          @each $subsubvar, $subsubvalue in $subvalue {
            --colors-#{$var}-#{$subvar}-#{$subsubvar}: #{$subsubvalue};
          }
        }

        @else {
          --colors-#{$var}-#{$subvar}: #{$subvalue};
        }
      }
    }

    @else {
      --colors-#{$var}: #{$value};
    }
  }
}

body {
  @include color_vars($defaultColors);
}
