// @import "style";

$home-image-xs: $bark-sm-image;
$home-image-sm: $bark-sm-image;
$home-image-md: $bark-md-image;
$home-image-lg: $bark-lg-image;
$home-image-xl: $bark-lg-image;

.views-home {
  background-size: cover;
  background-position: center;
}

@include media-breakpoint-up(xs) {
  .views-home {
    background-image: $home-image-xs;
  }
}

@include media-breakpoint-up(sm) {
  .views-home {
    background-image: $home-image-sm;
  }
}

@include media-breakpoint-up(md) {
  .views-home {
    background-image: $home-image-md;
  }
}

@include media-breakpoint-up(lg) {
  .views-home {
    background-image: $home-image-lg;
  }
}

@include media-breakpoint-up(xl) {
  .views-home {
    background-image: $home-image-xl;
  }
}
