@import '../../../css/style';

$geometry_colors: (
  point:        color('diagram', 'warning'),
  corners:      color('diagram', 'primary', 'light'),
  moreSharp:    color('diagram', 'warning', 'light'),
  lessSharp:    color('diagram', 'safe', 'light'),
  anchor:       color('diagram', 'passive'),
  radius:       color('diagram', 'primary'),
  diameter:     color('diagram', 'safe'),
  reference:    color('diagram', 'primary', 'light'),
  radiusLight:  color('diagram', 'primary', 'lighter'),
  background:   color('diagram', 'background'),
  arrow:        color('diagram', 'warning'),
  //
  angle:        color('diagram', 'safe', 'lighter'),
  angleText:    color('diagram', 'safe', 'light'),
  angleA:       color(3, 'base'),
  angleB:       color(4, 'base'),
  angleC:       color(5, 'base'),
  angleD:       color(6, 'lighter'),
  //
  dimensions:   color('diagram', 'disabled', 'light'),
  length:       color('diagram', 'warning', 'light'),
  radialLines:  color('diagram', 'disabled', 'light'),
  circle:       color('diagram', 'warning'),
  arc:          color('diagram', 'warning'),
  arcLight:     color('diagram', 'warning', 'lighter'),
  rotation:     color('diagram', 'warning'),
  action:       color('diagram', 'action'),
  disabled:     color('diagram', 'disabled', 'dark'),
  degrees:      color('diagram', 'primary', 'light'),
  radians:      color('diagram', 'primary', 'light'),
  //
  angles:         color('diagram', 'warning', 'base'),
  angleLabels:    color('diagram', 'warning', 'base'),
  lines:          color('diagram', 'primary'),
  lineLabels:     color('diagram', 'primary'),
  construction:      color('diagram', 'passive', 'darkest'),
  construction1:     color('diagram', 'warning', 'darker'),
  construction1Fill: color('diagram', 'warning', 'darkest'),
  construction2:     color('diagram', 'safe', 'darker'),
  construction2Fill: color('diagram', 'safe', 'darkest'),
);
