@import '../geometry';

$colors: (
  latin:            color('diagram', 'text-latin'),
  line:             map-get($geometry_colors, lines),
  disabled:         map-get($geometry_colors, disabled),
  angleA:           map-get($geometry_colors, angleA),
  angleB:           map-get($geometry_colors, angleB),
);

body {
  @include color_vars($colors);
}

.lesson__selector_container {
  width: 100%;
}

.lesson__selector_table {
  margin-left: auto;
  margin-right: auto;
  // table-layout: fixed;
  // width: 100%;
  color: map-get($colors, disabled);
  text-align: center;
  border-bottom: 1px solid map-get($colors, disabled);
  border-top: 1px solid map-get($colors, disabled);
  font-size: calc(var(--lesson__diagram-font-size) * 0.6);
  font-weight: bold;
  cursor: pointer;
}

.lesson__selector_table td {
  // width: 20%;
  // padding: 10%;
  // padding-left: auto;
  padding-left: calc(var(--lesson__diagram-font-size));
  padding-right: calc(var(--lesson__diagram-font-size));
  padding-top: calc(var(--lesson__diagram-font-size) * 0.3);
  padding-bottom: calc(var(--lesson__diagram-font-size) * 0.3);
}

.lesson__selector_table_not_selected:hover {
  color: lighten(map-get($colors, disabled), 20);
}

.lesson__selector_title_selected {
  color: color('diagram', 'text-base');
}

.lesson__selector_title_selected:hover {
  color: color('diagram', 'text-base');
}

.lesson__related_angles_table {
  width: 100%;
  color: map-get($colors, disabled);
  text-align: center;
  border-bottom: 1px solid map-get($colors, disabled);
  border-top: 1px solid map-get($colors, disabled);
  font-size: calc(var(--lesson__diagram-font-size) * 0.6);
}

.lesson__related_angles_table td {
  padding-left: calc(var(--lesson__diagram-font-size));
  padding-right: calc(var(--lesson__diagram-font-size));
  padding-top: calc(var(--lesson__diagram-font-size) * 0.3);
  padding-bottom: calc(var(--lesson__diagram-font-size) * 0.3);
}

.lesson__related_angles_table_selected {
  color: color('diagram', 'text-base');
}

.lesson__related_angles_unit_selected {
  color: color('diagram', 'text-base');
}

.lesson__related_angles_unit_selection {
  font-size: calc(var(--lesson__diagram-font-size) * 0.4);
  position: absolute;
  left: 45%;
  top: 95%;
}

.lesson__related_angles_unit_selection_hide {
  width: 0;
  font-size: 0;
  left: -10000px;
  height: 0;
  position: absolute;
}

// .lesson__relatedt_angles_text_hide {
//   width: 0;
//   font-size: 0;
//   height: 0;
//   position: absolute;
//   left: -10000px;
// }

// .lesson__related_angles_from_Latin {
//   color: color('diagram', 'text-base');
//   font-style: normal;
// }

.lesson__note {
  font-size: calc(var(--lesson__diagram-font-size) * 0.4);
  color: color('diagram', 'disabled');
}

.diagram__text {
  z-index: 1;
}
