// @import '../geometry';
@import '../../../LessonsCommon/SinCosCircle/style';

$colors: (
  axes:       color('diagram', 'disabled', 'dark'),
  grid:       color('diagram', 'disabled', 'darker'),
  bowHandle:        color('blue', 'dark'),
  bowString:        color('red', 'dark'),
);

body {
  @include color_vars($colors);
}

#id__piOn2MinusTheta,
#id_diagram__complimentary_sine_angle,
#id_diagram__complimentary_symmetry_cosine_angle, {
  font-size: calc(var(--lesson__diagram-font-size) * 0.5);
}

#id__piOn2MinusTheta .numerator {
  line-height: 1.1;
}

#id__piOn2MinusTheta .denominator {
  line-height: 1.0;
}