// @import '../geometry';
@import '../../../LessonsCommon/SinCosCircle/style';

$colors: (
  axes:       color('diagram', 'disabled', 'dark'),
  grid:       color('diagram', 'disabled', 'darker')
);

body {
  @include color_vars($colors);
}

