// @import '../geometry';
@import '../../../LessonsCommon/SinCosCircle/style';

$colors: (
  axes:       color('diagram', 'disabled', 'dark'),
  grid:       color('diagram', 'disabled', 'darker'),
  bowHandle:        color('blue', 'dark'),
  bowString:        color('red', 'dark'),
);

body {
  @include color_vars($colors);
}

