@import '../../geometry';

$colors: (
  lines:             map-get($geometry_colors, lines),
  //
  // height:            color('diagram', 'construction7'),
  // border:            color('diagram', 'construction8'),
  // radius:            color('diagram', 'construction7'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 1;
}
