<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block head %}{% endblock %}

    <link rel="stylesheet" href="/static/bootstrap-reboot.min.css">

    <!-- React STAGE -->
    <script crossorigin src="https://unpkg.com/react@16.4.2/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16.4.2/umd/react-dom.development.js"></script>
  </head>

<body>
  {% block content %}{% endblock %}
<script type="text/javascript" src="/static/dist/vendors.js"></script>
<script type="text/javascript" src="/static/dist/tools.js"></script>
{% block tail %}{% endblock %}
</body>
</html>