@import "../../css/style";

$color-lines: $color-blue;
$color-corners: $color-cyan-medium;
$color-moreSharp: $color-red;
$color-lessSharp: $color-green-medium;

#id_corners,
#id_more_sharp,
#id_less_sharp {
  color: $color-corners;
  font-weight: bold;
  cursor: pointer;
}

#id_more_sharp {
  color: $color-moreSharp;
}

#id_less_sharp {
  color: $color-lessSharp;
}

// @include media-breakpoint-up(xs) {
// }

// @include media-breakpoint-up(sm) {
// }

// @include media-breakpoint-up(md) {
// }

// @include media-breakpoint-up(lg) {
// }

// @include media-breakpoint-up(xl) {
// }

/* stylelint-disable property-case, property-no-unknown, selector-pseudo-class-no-unknown */
:export {
  colorLines: $color-lines;
  colorCorners: $color-corners;
  colorMoreSharp: $color-moreSharp;
  colorLessSharp: $color-lessSharp;
}
/* stylelint-enable */
