@import "../../css/style";

$color-lines: $color-blue;
$color-corners: $color-cyan-medium;
$color-moreSharp: $color-red;
$color-lessSharp: $color-green-medium;
$color-anchor: $color-yellow;
$color-radius: $color-blue;

.action_word {
  font-weight: bold;
  cursor: pointer;
}

#id_corners {
  color: $color-corners;
}

#id_more_sharp {
  color: $color-moreSharp;
}

#id_less_sharp {
  color: $color-lessSharp;
}

#id_lines,
#id_line {
  color: $color-radius;
}

#id_anchor {
  color: $color-anchor;
}

@include media-breakpoint-up(xs) {
  #circle_container {
    width: 100%;
    padding-top: 100%;
  }
}

// @include media-breakpoint-up(sm) {
// }

@include media-breakpoint-up(md) {
  #circle_container {
    width: 80%;
    padding-top: 80%;
  }
}

@include media-breakpoint-up(lg) {
  #circle_container {
    width: 50%;
    padding-top: 50%;
  }
}

// @include media-breakpoint-up(xl) {
// }

/* stylelint-disable property-case, property-no-unknown, selector-pseudo-class-no-unknown */
:export {
  colorLines: $color-lines;
  colorCorners: $color-corners;
  colorMoreSharp: $color-moreSharp;
  colorLessSharp: $color-lessSharp;
  colorAnchor: $color-anchor;
  colorRadius: $color-radius;
}
/* stylelint-enable */

#shapes_container {
  position: relative;
  width: 100%;
  padding-top: 40%;
  left: 0;
  top: 0;
}

#circle_container {
  position: relative;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}
