@import '../geometry';

$colors: (
  anchor:           map-get($geometry_colors, anchor),
  radius:           map-get($geometry_colors, reference),
  reference:        map-get($geometry_colors, reference),
  angle:            map-get($geometry_colors, angle),
  angleText:        map-get($geometry_colors, angleText),
  latin:            color(diagram, 'text-latin'),
  circle:           map-get($geometry_colors, circle),
  radialLines:      map-get($geometry_colors, radialLines),
  radialLinesText:  color(diagram, 'text-plot'),
  rotation:         map-get($geometry_colors, rotation),
);

body {
  @include color_vars($colors);
}
