@import '../../../css/style';

$colors: (
  // lines: color(2, 'lighter'),
  anchor:           color(4),
  radius:           color(2),
  reference:        color(2),
  angle:            color(3),
  angleText:        color(3),
  latin:            color(diagram, 'text-latin'),
  circle:           color(3),
  radialLines:      color(0),
  radialLinesText:  color(2),
);

body {
  @include color_vars($colors);
}

// @debug colord(2);
// @debug colord(2, 'base');
// @debug colord(2, 'light');
// @debug colord(diagram, 'primary');
// @debug colord(diagram, 'primary', 'base');
// @debug colord(diagram, 'primary', 'light');
@debug hue(diagram, 'text');