@import '../../geometry';

$colors: (
  lines:             map-get($geometry_colors, lines),
  //
  areaTri:           color('diagram', 'construction4', 'darker'),
  areaTriLabel:      color('diagram', 'construction4'),
  areaPoly:          color('diagram', 'construction2', 'darker'),
  areaPolyLabel:     color('diagram', 'construction2'),
  areaCircle:        color('diagram', 'construction3', 'darker'),
  areaCircleLabel:   color('diagram', 'construction3'),
  //
  height:            color('diagram', 'construction5'),
  border:            color('diagram', 'passive'),
  //
  grid:              color('diagram', 'disabled', 'darkest'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 1;
}
