@import '../../geometry';

$colors: (
  lines:             map-get($geometry_colors, lines),
  fill:              map-get($geometry_colors, construction1),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 1;
}
