// https://codepen.io/jakealbaugh/post/css4-variables-and-sass
@import "../../css/style";

$color-lines: $color_primary;
$color-corners: $color_secondary;
$color-moreSharp: $color_highlight;
$color-lessSharp: $color_safe;
$color-anchor: $color_passive;
$color-radius: $color_primary;
$color-reference: $color_secondary;
$color-background: $color_diagram;

$_lesson_vars: (
  test: 5,
  sm: (
    x-min:    -2,
    x-max:   4,
    y-min:    -1,
    y-max:  2,
  ),
  md: (
    x-min:    -4,
    x-max:   8,
    y-min:    -2,
    y-max:  4,
  ),
);
$test1: 3;
$test2: map-get(map-get($_lesson_vars, sm), x-min);

@function map2-get($name, $level1, $level2: null) {
  @return map-get(map-get($name, $level1), $level2);
}

#lesson__container_name {
  --lessonvars-x-min: map-get(map-get($_lesson_vars, sm), x-min);
  --lessonvars-x-max: 3;
  --lessonvars-y-min: #{$test2};
  --lessonvars-y-max: #{map2-get($_lesson_vars, sm, x-min)};
}

.action_word {
  font-weight: bold;
  cursor: pointer;
}

#id_shapes {
  color: $color-lines;
}

#id_corners {
  color: $color-corners;
}

#id_more_sharp {
  color: $color-moreSharp;
}

#id_less_sharp {
  color: $color-lessSharp;
}

#id_lines,
#id_line {
  color: $color-radius;
}

#id_anchor {
  color: $color-anchor;
}

#id_corner {
  color: $color-corners;
}

#id_small_rotation,
#id_more_sharp_cornern {
  color: $color-moreSharp;
}

#id_large_rotation,
#id_less_sharp_corner {
  color: $color-lessSharp;
}

#circle_container {
  position: relative;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}

.circle-diagram-and-text-container {
  //
  // display: table;
  height: 600px;
}

@include media-breakpoint-up(xs) {
  #circle_container {
    width: 80vmin;
    height: 80vmin;
    // padding-top: 100%;
  }
}

// @include media-breakpoint-up(sm) {
// }

@include media-breakpoint-up(md) {
  #circle_container {
    // width: 400px;
    // padding-top: 400px;
    // height: 200px;
    width: 50vmin;
    height: 50vmin;
    // height: 400px;
    // padding-top: 0;
    // padding-top: 50%;
    // float: right;
    // margin-left: auto;
    // margin-right: 0;
  }

  .circle-diagram-text-container {
    // margin-top: 100px;
    // display: table-cell;
    // vertical-align: middle;
    // width: 200px;
  }
}

@include media-breakpoint-up(lg) {
  // #circle_container {
  //   width: 50%;
  //   padding-top: 50%;
  // }
  // #lesson__container_name {
  //   --lessonvars-x-min: $_lesson_vars.md.x-min;
  //   --lessonvars-x-max: $_lesson_vars.md.x-max;
  //   --lessonvars-y-min: $_lesson_vars.md.y-min;
  //   --lessonvars-y-max: $_lesson_vars.md.y-max;
  // }
}

// @include media-breakpoint-up(xl) {
// }

/* stylelint-disable property-case, property-no-unknown, selector-pseudo-class-no-unknown */
:export {
  colorLines: $color-lines;
  colorCorners: $color-corners;
  colorMoreSharp: $color-moreSharp;
  colorLessSharp: $color-lessSharp;
  colorAnchor: $color-anchor;
  colorRadius: $color-radius;
  colorReference: $color-reference;
  colorBackground: $color-background;
}
/* stylelint-enable */

#shapes_container {
  position: relative;
  width: 100%;
  padding-top: 67%;
  left: 0;
  top: 0;
}

// #lesson__container_name {
//   // @each $var, $value in $_lesson_variables {
//   //   @if type-of($value) == "map" {
//   //     @each $subvar, $subvalue in $value {
//   //       --lessonvar-#{$var}-#{$subvar}: #{$subvalue};
//   //     }
//   //   }

//   //   @elseif type-of($value) == "number" {
//   //     --lessonvar-#{$var}: #{$value};
//   //   }

//   //   @elseif type-of($size) == "string" {
//   //     --lessonvar-#{$var}: #{$value};
//   //   }
//   // }
//   --lessonvars-x-min: 4;
//   --lessonvars-x-max: 4;
//   --lessonvars-y-min: 4;
//   --lessonvars-ymax: 4;
// }
