// @import "style";
@import '../../../css/style';

$intro-image-xs: $fence-sm-image;
$intro-image-sm: $fence-sm-image;
$intro-image-md: $fence-md-image;
$intro-image-lg: $fence-lg-image;
$intro-image-xl: $fence-lg-image;

$intro1-image-sm: $flower2-sm-image;
$intro1-image-md: $flower2-md-image;
$intro1-image-lg: $flower2-lg-image;

.views-intro {
  background-size: cover;
  background-position: center;
}

.views-intro1 {
  background-size: cover;
  background-position: center;
}

@include media-breakpoint-up(xs) {
  h1 {
    color: red;
  }

  .views-intro {
    background-image: $intro-image-xs;
  }

  .views-intro1 {
    background-image: $intro1-image-sm;
  }
}

@include media-breakpoint-up(sm) {
  h1 {
    color: blue;
  }

  .views-intro {
    background-image: $intro-image-sm;
  }

  .views-intro1 {
    background-image: $intro1-image-sm;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    color: yellow;
  }

  .views-intro {
    background-image: $intro-image-md;
  }

  .views-intro1 {
    background-image: $intro1-image-md;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    color: green;
  }

  .views-intro {
    background-image: $intro-image-lg;
  }

  .views-intro1 {
    background-image: $intro1-image-lg;
  }
}

@include media-breakpoint-up(xl) {
  h1 {
    color: cyan;
  }

  .views-intro {
    background-image: $intro-image-xl;
  }

  .views-intro1 {
    background-image: $intro1-image-lg;
  }
}
