// @import "style";

$home-image-sm: $bark-sm-image;
$home-image-md: $bark-md-image;
$home-image-lg: $bark-lg-image;

.home {
  background-size: cover;
  background-position: center; 
}

@include media-breakpoint-up(xs) {
  .home {
    background-image: $home-image-sm;
  }
}

@include media-breakpoint-up(sm) {
  .home {
    background-image: $home-image-sm;
  }
}

@include media-breakpoint-up(md) {
  .home {
    background-image: $home-image-md;
  }
}

@include media-breakpoint-up(lg) {
  .home {
    background-image: $home-image-lg;
  }
}

@include media-breakpoint-up(xl) {
  .home {
    background-image: $home-image-lg;
  }
}