
.lesson {
  // background-size: cover;
  // background-position: center; 
  // background-color: blue;
}

.btn-lesson {
  margin: 5px;
}

.lesson-canvas {
  background-color: red;
  width: 100%;
}

.canvas_container {
  // position: absolute;
  top: 0;
  left: 0;
  // width: 2000px;
  background-color: red;
}
// @include media-breakpoint-up(xs) {
//   .home {
//     background-image: $home-image-xs;
//   }
// }

// @include media-breakpoint-up(sm) {
//   .home {
//     background-image: $home-image-sm;
//   }
// }

// @include media-breakpoint-up(md) {
//   .home {
//     background-image: $home-image-md;
//   }
// }

// @include media-breakpoint-up(lg) {
//   .home {
//     background-image: $home-image-lg;
//   }
// }

// @include media-breakpoint-up(xl) {
//   .home {
//     background-image: $home-image-xl;
//   }
// }

.button_container {
  position: absolute;
  left: 0;
  top: 0;
}

@include media-breakpoint-up(xs) {
  .main_page {
    width: 200px;
    height: 200px;
  }
}

@include media-breakpoint-up(sm) {
  .main_page {
    width: 400px;
    height: 400px;
  }
}

@include media-breakpoint-up(md) {
  .main_page {
    width: 1000px;
    height: 500px;
  }
}

@include media-breakpoint-up(lg) {
  .main_page {
    width: 1000px;
    height: 500px;
  }
}

@include media-breakpoint-up(xl) {
  .main_page {
    width: 1600px;
    height: 800px;
  }
}

.main_page {
  width: 100%;
  padding-top: 66.66%;
  margin-top: 60px;
  background-color: green;
  // width: 100%;
  position: relative;
}
