
.lesson {
  // background-size: cover;
  // background-position: center; 
  // background-color: blue;
}

.btn-lesson {
  margin: 5px;
}

.lesson-canvas {
  background-color: red;
  width: 100%;
}

.button_container {
  position: absolute;
  left: 0;
  top: 0;
}

@include media-breakpoint-up(xs) {
  .main_page {
    width: 200px;
    height: 200px;
  }
}

@include media-breakpoint-up(sm) {
  .main_page {
    width: 400px;
    height: 400px;
  }
}

@include media-breakpoint-up(md) {
  .main_page {
    width: 1000px;
    height: 500px;
  }

  .diagram_gl {
    width: 500px;
    height: 250px;
  }
}

@include media-breakpoint-up(lg) {
  .main_page {
    width: 1000px;
    height: 500px;
  }

  .diagram_gl {
    width: 1000px;
    height: 500px;
  }
}

@include media-breakpoint-up(xl) {
  .main_page {
    width: 1600px;
    height: 800px;
  }

  .diagram_gl {
    width: 1600px;
    height: 800px;
  }
}

.main_page {
  width: 100%;
  padding-top: 66.66%;
  margin-top: 60px;
  background-color: green;
  position: relative;
}
