@import "bootstrap/bootstrap";

$font-stack:    Helvetica, sans-serif;
$primary-color: #009;

.test {
  font: 100% $font-stack;
  color: $primary-color;
}

.btn {
  // background-color: green;
  // color: $primary;
}

h1 {
  color: white;
}