// @import 'redefines';
@import "bootstrap/bootstrap";

$font-stack:    Helvetica, sans-serif;
$primary-color: #009;
$flower-sm-image: url(/static/flower-sm.jpg);
$flower-md-image: url(/static/flower-md.jpg);
$flower-lg-image: url(/static/flower-lg.jpg);
$flower2-sm-image: url(/static/flower2-sm.jpg);
$flower2-md-image: url(/static/flower2-md.jpg);
$flower2-lg-image: url(/static/flower2-lg.jpg);
$fence-sm-image: url(/static/fence-sm.jpg);
$fence-md-image: url(/static/fence-md.jpg);
$fence-lg-image: url(/static/fence-lg.jpg);

$splash-image-sm: $fence-sm-image;
$splash-image-md: $fence-md-image;
$splash-image-lg: $fence-lg-image;

$splash1-image-sm: $flower2-sm-image;
$splash1-image-md: $flower2-md-image;
$splash1-image-lg: $flower2-lg-image;

.test {
  font: 100% $font-stack;
  color: $primary-color;
}

.btn {
  // background-color: green;
  // color: $primary;
}

h1 {
  color: white;
}

.splash {
  // background-image: $splash-image-lg;
  background-size: cover;
  background-position: center;
}

.splash1 {
  // background-image: $splash1-image-lg;
  background-size: cover;
  background-position: center; 
}

.homeicon {
  margin-right: 5px;
}

@include media-breakpoint-up(xs) {
  h1 {
    color: red;
  }
  .splash {
    background-image: $splash-image-sm;
  }
  .splash1{
    background-image: $splash1-image-sm;
  }
}

@include media-breakpoint-up(sm) {
  h1 {
    color: blue;
  }
  .splash {
    background-image: $splash-image-sm;
  }
  .splash1 {
    background-image: $splash1-image-sm;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    color: yellow;
  }
  .splash {
    background-image: $splash-image-md;
  }
  .splash1 {
    background-image: $splash1-image-md;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    color: green;
  }
  .splash {
    background-image: $splash-image-lg;
  }
  .splash1 {
    background-image: $splash1-image-lg;
  }
}

@include media-breakpoint-up(xl) {
  h1 {
    color: cyan;
  }
  .splash {
    background-image: $splash-image-lg;
  }
  .splash1 {
    background-image: $splash1-image-lg;
  }
}