@import '../../geometry';

$colors: (
  square1:             color('diagram', 'warning', 'base'),
  square2:             color('diagram', 'primary', 'base'),
  circle:              color('diagram', 'warning', 'base'),
  reference:           color('diagram', 'disabled', 'base'),
  line:                color('diagram', 'primary', 'base')
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 1;
}
