.drop_down_button_container {
  // margin-left: 501px;
}

.drop_down_button_button_container {
  background-color: red;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  display: inline-block;
}

.drop_down_button_label {
  display: inline-block;
  pointer-events: none;
}

.drop_down_button_arrow {
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  margin-left: 10px;
  transform: translate(0, -3px);
  -webkit-transform: translate(0, -3px);
  pointer-events: none;
}

.drop_down_button_arrow_down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  border-bottom: 0;
  transform: translate(0, -3px);
  -webkit-transform: translate(0, -3px);
}

.drop_down_button_arrow_up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-top: 0;
  transform: translate(0, -3px);
  -webkit-transform: translate(0, -3px);
}

.drop_down_button_arrow_right {
  border-left: 5px solid;
  border-right: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  padding-right: 5px;
  transform: translate(3px, 0);
  -webkit-transform: translate(3px, 0);
}

.drop_down_button_arrow_left {
  border-left: 0;
  border-right: 5px solid;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  padding-right: 5px;
  transform: none;
  -webkit-transform: none;
}

.drop_down_button_list {
  // width: 0;
  // height: 0;
  // font-size: 0;
  position: absolute;
  // left: -10000px;
  // top: 10000px;
  z-index: 1;
  background-color: white;
  // padding: 0;\
  width: auto;
  height: auto;
  font-size: 14px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

// .drop_down_button_list_show {
//   width: auto;
//   height: auto;
//   font-size: 14px;
//   border-radius: 5px;
//   padding-top: 5px;
//   padding-bottom: 5px;
// }

.drop_down_button_list_hide {
  // left: -10000px;
  // top: -10000px;
}

.drop_down_button_list_item {
  color: color('grey', 'base');
  background-color: white;
}

.drop_down_button_list_item,
.drop_down_button_list_item a,
.drop_down_button_list_item:visited {
  color: color('grey', 'base');
  display: block;
  text-decoration: none;
  padding: 3px 20px 3px 20px;
}

.drop_down_button_list_item:hover {
  background-color: color('white', 'lighter');
}

.drop_down_button_list_item_active {
  background-color: color('blue', 'light');
}

.drop_down_button_list_item_active:hover {
  background-color: color('blue', 'dark');
}

.drop_down_button_list_item_active a {
  color: color('white', 'base');
}

.drop_down_button_list_item a:hover {
  color: color('white', 'base');
}
