.dropdownbutton_container {
  background-color: red;
  color: black;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

.dropdownbutton_label {
  display: inline-block;
}

.dropdownbutton_arrow {
  border: 1px solid;
  display: inline-block;
  border-width: 0 2px 2px 0;
  padding: 3px;
  margin-left: 10px;
  transform: rotate(45deg) translate(-5px, 0);
  -webkit-transform: rotate(45deg) translate(-5px, 0);
}

.dropdownbutton_arrow_right {
  transform: rotate(-45deg) translate(-3px, -5px)
  -webkit-transform: rotate(-45deg) translate(-3px, -5px)
}

.dropdownbutton_arrow_left {
  margin-left: 15px;
  transform: rotate(135deg) translate(3px, 5px);
  -webkit-transform: rotate(135deg) translate(3px, 5px);
}

.dropdownbutton_arrow_up {
  transform: rotate(-135deg) translate(3px, -2px);
  -webkit-transform: rotate(-135deg) translate(3px, -2px);
}
