.dropdownbutton_container {

}

.dropdownbutton_button_container {
  background-color: red;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  display: inline-block;
}

.dropdownbutton_label {
  display: inline-block;
}

.dropdownbutton_arrow {
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  margin-left: 10px;
  transform: translate(0, -3px);
  -webkit-transform: translate(0, -3px);
}

.dropdownbutton_arrow_down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  border-bottom: 0;
  transform: translate(0, -3px);
  -webkit-transform: translate(0, -3px);
}

.dropdownbutton_arrow_up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-top: 0;
  transform: translate(0, -3px);
  -webkit-transform: translate(0, -3px);
}

.dropdownbutton_arrow_right {
  border-left: 5px solid;
  border-right: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  padding-right: 5px;
  transform: translate(3px, 0);
  -webkit-transform: translate(3px, 0);
}

.dropdownbutton_arrow_left {
  border-left: 0;
  border-right: 5px solid;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  padding-right: 5px;
  transform: none;
  -webkit-transform: none;
}

.drowdownbutton_list {
  width: 0;
  height: 0;
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.drowdownbutton_list_show {
  width: auto;
  height: auto;
  font-size: 14px;
}

.dropdownbutton_list_item {
  color: color('grey', 'base');
  background-color: white;
}

.dropdownbutton_list_item a,
.dropdownbutton_list_item:visited {
  color: color('grey', 'base');
  display: block;
  text-decoration: none;
  padding: 3px 20px 3px 20px;
}

.dropdownbutton_list_item:hover {
  background-color: color('white', 'lighter');
}

.dropdownbutton_list_item_active {
  background-color: color('blue', 'light');
}

.dropdownbutton_list_item_active:hover {
  background-color: color('blue', 'dark');
}

.dropdownbutton_list_item_active a {
  color: color('white', 'base');
}

.dropdownbutton_list_item a:hover {
  color: color('white', 'base');
}
