/*

  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  */
.equation {
  font-style: italic;

  /* font-family: times; */

  /* display: table;
  padding: 0;
  margin: 0; */

  /* This keeps the equation from changing size */
  width: -webkit-max-content;
}

/* .equation_elements{
  display: table;
  padding: 0;
  margin: 0;
} */

/* .equation_text1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
*/

.equation_space {
  padding-left: 5px;
  padding-right: 5px;
}

.equation_element {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
}

.radical {
  padding-right: 0;
  font-size: 150%;
  font-family: Helvetica Neue, sans-serif;
  font-weight: lighter;
  position: relative;
  top: -2.5px;
  left: 1px;
}

.square_root .equation_element:not(:first-child) {
  padding-right: 3;
  padding-left: 0;
  border-top: solid 1px;
}

.equation_text {
  // float: left;
  display: table-cell;
}

/* **************************
   Fractions
************************** */
.fraction {
  /* display: table;
   padding:10px; */
   display: table-cell;
}

.fraction_line {
  border-top: solid 1px;
  width: 100%;
  margin-bottom: 3px;
  display: table;
}

.numerator {
  margin-left: auto;
  margin-right: auto;
  padding-right: 5px;
  padding-left: 3px;
  display: table;
}

.denominator {
  margin-left: auto;
  margin-right: auto;
  padding-right: 5px;
  padding-left: 3px;
  display: table;
}

/* **************************
   Sub and Super Scripts
************************** */

/* .with_super, .with_sub {
  padding-right: 0;
  margin: 0;
  padding: 0;
  float: left;
} */

.superscript {
  font-size: 60%;
  float: left;
  position: relative;
  top: -4px;
  padding-left: 2px;
}

.subscript {
  font-size: 60%;
  float: left;
  position: relative;
  top: 0.9em;
}


