$title-height: 50px;
$title-font-size: 30px;
$aspect_ratio-portrait_narrow: 0.667;
$aspect_ratio-portrait: 0.8;
$aspect_ratio-landscape: 1.5;
$aspect_ratio-landscape_wide: 2;
$np_button-width: 40px;
$np_button-height: 40px;
$np_button-vspace: 5px;
$np_button-hspace: 50px;

//Assume 1:2 portrait to start width
$content-width: 90vw;
$content-height: calc(90vw / #{$aspect_ratio-portrait_narrow});
$container-width: $content-width;
$container-height: calc(#{$content-height} + #{$title-height} + #{$np_button-height} + #{$np_button-vspace});

.lesson__container {
  margin-top: 70px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: $container-width;
  height: $container-height;
}

#multipage_diagram {
  width: $content-width;
  height: $content-height;
}

.lesson__text p {
  font-size: 16px;
  color: $color_text;
}

.lesson__title {
  font-size: $title-font-size;
  color: $color_text;
  height: $title-height;      //Check this is working
  text-align: center;
}

.btn-multi-page-lesson {
  position: absolute;
  width: $np_button-width;
  height: $np_button-height;
  border-style: none;
  color: $color_primary;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  top: calc(100% - #{$np_button-height});
}

#lesson__button-previous {
  left: 0;
}

#lesson__button-next {
  right: 0;
}

@media (min-aspect-ratio: 1/2) {
  $content-height: calc(90vw / #{$aspect_ratio-portrait});
  $container-height: calc(#{$content-height} + #{$title-height} + #{$np_button-height} + #{$np_button-vspace});

  .lesson__container {
    height: $container-height;
  }

  #multipage_diagram {
    height: $content-height;
  }
}

@media (min-aspect-ratio: 1/1) {
  $content-height: calc(70vh - #{$title-height});
  $content-width: calc(#{$content-height} * #{$aspect_ratio-landscape});
  $container-height: 70vh;
  $container-width: calc(#{$content-width} + #{$np_button-width} * 2 + #{$np_button-hspace} * 2);

  .lesson__container {
    width: $container-width;
    height: $container-height;
  }

  #multipage_diagram {
    display: inline-block;
    width: $content-width;
    height: $content-height;
    margin-left: $np_button-hspace;
    margin-right: $np_button-hspace;
  }

  .btn-multi-page-lesson {
    position: relative;
    top: 0;
    display: inline-block;
    vertical-align: top;
    height: $content-height;
    width: $np_button-width;
  }
}

@media (min-aspect-ratio: 3/2) {
  $content-width: calc($content-height * #{$aspect_ratio-landscape_wide});
  $container-width: calc(#{$content-width} + #{$np_button-width} * 2 + #{$np_button-hspace} * 2);

  .lesson__container {
    width: $container-width;
  }

  #multipage_diagram {
    width: $content-width;
  }
}

// @media (min-aspect-ratio: 1.5/1) {
//   .lesson__container {
//     margin-left: auto;
//     margin-right: auto;
//     height: 70vh;
//     width: calc(70vh * #{$diagram-landscape-wide-aspect-ratio});
//   }
// }

// // @media (min-width: $desktop) {
// //   .lesson__container {}
// // }

// // @include media-breakpoint-up(xs) {
// @media screen and (min-width: 0) and (orientation: portrait) {
//   // .lesson__container {
//   //   margin-top: 80px;
//   //   margin-left: auto;
//   //   margin-right: auto;
//   //   width: 90vmin;
//   //   min-height: 90vmin;
//   //   background-color: red;
//   //   color: red;
//   // }

//   .lesson__button-container {
//     margin-top: 0;
//     margin-left: 5%;
//     width: 90%;
//   }

//   .lesson__title {
//     margin-top: 20px;
//   }
// }

// @media screen and (min-width: 0) and (orientation: landscape) {
//   // .lesson__container {
//   //   margin-top: 0;
//   //   margin-left: auto;
//   //   margin-right: auto;
//   //   width: 150vmin;
//   //   min-height: 50vmin;
//   //   background-color: blue;
//   //   color: blue;
//   // }

//   .lesson__button-container {
//     margin-top: 0;
//     margin-left: 5%;
//     width: 90%;
//   }

//   .lesson__title {
//     margin-top: 20px;
//   }
// }

// // @include media-breakpoint-up(sm) {
// //   .lesson__container {
// //     // width: 400px;
// //     // height: 200px;
// //   }
// // }

// @include media-breakpoint-up(md) {
//   .lesson__container {
//     margin-top: 0;
//     font-size: 20px;
//   }

//   .lesson__button-container {
//     margin-top: 0;
//   }

//   .lesson__title {
//     margin-top: 80px;
//     font-size: 34px;
//     padding-bottom: 20px;
//   }
// }

// @include media-breakpoint-up(md) {
//   // .lesson__container {
//   //   width: 800px;
//   //   margin-left: auto;
//   //   margin-right: auto;
//   //   min-height: 550px;
//   // }

//   // #multipage_lesson {
//   //   position: absolute;
//   //   width: 800px;
//   //   margin-left: auto;
//   //   margin-right: auto;
//   //   min-height: 550px;
//   // }

//   .lesson__button-container {
//     width: 800px;
//     margin-left: auto;
//     margin-right: auto;
//   }
//   //
// }

// @include media-breakpoint-up(xl) {
//   //
// }

.lesson-clear-floats {
  clear: both;
}

