.lesson__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.lesson__text p {
  font-size: 16px;
  color: $color_text;
}

.lesson__title {
  font-size: 30px;
  color: $color_text;
  margin-bottom: 20px;
}

.lesson__button-container {
  position: relative;
  padding-bottom: 20px;
}

#lesson__button-next {
  right: 0;
  background-color: $color_navbar-background;
}

#lesson__button-previous {
  background-color: $color_navbar-background;
}

// #multipage_diagram {
//   position: absolute;
//   left: 0;
//   top: 0;
//   // width: 100%;
//   // height: 100%;
// }

$diagram-portrait-narrow-aspect-ratio: 0.667;
$diagram-portrait-aspect-ratio: 0.8;
$diagram-landscape-aspect-ratio: 1.5;
$diagram-landscape-wide-aspect-ratio: 2;
$test123: 1/100;
$test234: 1/1;
@media (min-aspect-ratio: 1/100) {
  .lesson__container {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: calc(90vw / #{$diagram-portrait-narrow-aspect-ratio});
  }
}

@media (min-aspect-ratio: 1/2) {
  .lesson__container {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: calc(90vw / #{$diagram-portrait-aspect-ratio});
    // height: 90vw;
  }
}

@media (min-aspect-ratio: 1/1) {
  .lesson__container {
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: calc(70vh * #{$diagram-landscape-aspect-ratio});
  }
}

@media (min-aspect-ratio: 1.5/1) {
  .lesson__container {
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: calc(70vh * #{$diagram-landscape-wide-aspect-ratio});
  }
}

// @media (min-width: $desktop) {
//   .lesson__container {}
// }

// @include media-breakpoint-up(xs) {
@media screen and (min-width: 0) and (orientation: portrait) {
  // .lesson__container {
  //   margin-top: 80px;
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 90vmin;
  //   min-height: 90vmin;
  //   background-color: red;
  //   color: red;
  // }

  .lesson__button-container {
    margin-top: 0;
    margin-left: 5%;
    width: 90%;
  }

  .lesson__title {
    margin-top: 20px;
  }
}

@media screen and (min-width: 0) and (orientation: landscape) {
  // .lesson__container {
  //   margin-top: 0;
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 150vmin;
  //   min-height: 50vmin;
  //   background-color: blue;
  //   color: blue;
  // }

  .lesson__button-container {
    margin-top: 0;
    margin-left: 5%;
    width: 90%;
  }

  .lesson__title {
    margin-top: 20px;
  }
}

// @include media-breakpoint-up(sm) {
//   .lesson__container {
//     // width: 400px;
//     // height: 200px;
//   }
// }

@include media-breakpoint-up(md) {
  .lesson__container {
    margin-top: 0;
    font-size: 20px;
  }

  .lesson__button-container {
    margin-top: 0;
  }

  .lesson__title {
    margin-top: 80px;
    font-size: 34px;
    padding-bottom: 20px;
  }
}

@include media-breakpoint-up(md) {
  // .lesson__container {
  //   width: 800px;
  //   margin-left: auto;
  //   margin-right: auto;
  //   min-height: 550px;
  // }

  // #multipage_lesson {
  //   position: absolute;
  //   width: 800px;
  //   margin-left: auto;
  //   margin-right: auto;
  //   min-height: 550px;
  // }

  .lesson__button-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  //
}

@include media-breakpoint-up(xl) {
  //
}

.lesson-clear-floats {
  clear: both;
}

