.lesson__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.lesson__text p {
  font-size: 16px;
  color: $color_text;
}

.lesson__title {
  font-size: 30px;
  color: $color_text;
  margin-bottom: 20px;
}

.lesson__button-container {
  position: relative;
  padding-bottom: 20px;
}

#lesson__button-next {
  right: 0;
  background-color: $color_navbar-background;
}

#lesson__button-previous {
  background-color: $color_navbar-background;
}

@include media-breakpoint-up(xs) {
  .lesson__container {
    margin-top: 0;
    margin-left: 5%;
    width: 90%;
    min-height: 70vh;
  }

  .lesson__button-container {
    margin-top: 0;
    margin-left: 5%;
    width: 90%;
  }

  .lesson__title {
    margin-top: 20px;
  }
}

@include media-breakpoint-up(sm) {
  .lesson__container {
    // width: 400px;
    // height: 200px;
  }
}

@include media-breakpoint-up(md) {
  .lesson__container {
    margin-top: 0;
    font-size: 20px;
  }

  .lesson__button-container {
    margin-top: 0;
  }

  .lesson__title {
    margin-top: 80px;
    font-size: 34px;
    padding-bottom: 20px;
  }
}

@include media-breakpoint-up(lg) {
  .lesson__container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-height: 550px;
  }

  .lesson__button-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  //
}

@include media-breakpoint-up(xl) {
  //
}

.lesson-clear-floats {
  clear: both;
}

