@import '../../../css/style';

$colors: (
  lines:      color(diagram, 'primary'),
  corners:    color(diagram, 'primary', light),
  moreSharp:  color(3),
  lessSharp:  color(4),
  anchor:     color(5),
  radius:     color(diagram, 'primary'),
  reference:  color(diagram, 'primary', light),
  background: color(diagram, 'background'),
  arrow:      color(3),
  angle:      color(4),
  latin:      color(diagram, 'text-latin'),
  arc:        color(3),
  circle:     color(3),
  dimensions: hue-shade(diagram, 'primary', light),
);

body {
  @include color_vars($colors);
}
