@import '../../../css/style';

$colors: (
  lines: $color_primary,
  corners: $color_secondary,
  moreSharp: $color_highlight,
  lessSharp: $color_safe,
  anchor: $color_passive,
  radius: $color_primary,
  reference: $color_secondary,
  background: $color_diagram,
  arrow: $color_danger,
  angle: $color_safe,
  latin: $color_secondary,
  arc: $color_danger,
  circle: $color_danger,
  dimensions: $color_secondary,
);

body {
  @include color_vars($colors);
}
