// https://codepen.io/jakealbaugh/post/css4-variables-and-sass
@import '../../../css/style';

$colors: (
  circle: color(diagram, 'warning'),
  dimensions: color(diagram, 'primary'),
);

body {
  @include color_vars($colors);
}
