// @import '../geometry';
@import '../../LessonsCommon/AngleCircle/style';

$colors: (
  quadrant:         darken(color('diagram', 'safe', 'darkest'), 2%),
  radialLines:      color('diagram', 'disabled', 'darker'),
  axes:             color(0, light),
  sine:             color('red', 'base'),
  quadAngles:       color('blue', 'darker'),
  arc:         color('blue', 'darker'),
);

body {
  @include color_vars($colors);
}

.diagram__sine_line {
  color: map-get($colors, sine);
  font-size: calc(var(--lesson__diagram-font-size) * 0.5);
  font-family: Times New Roman, serif;
  font-style: italic;
}

.diagram__quad_angles {
  font-size: calc(var(--lesson__diagram-font-size) * 0.5);
  color: map-get($colors, quadAngles);
  font-family: Times New Roman, serif;
  font-style: italic;
}

#id_diagram_main_angle_theta {
  font-size: calc(var(--lesson__diagram-font-size) * 0.7);
  color: map-get($geometry_colors, angle);
  font-family: Times New Roman, serif;
  font-style: italic;
}

#id_diagram_units_selector {
  font-size: calc(var(--lesson__diagram-font-size) * 0.5);
  color: map-get($geometry_colors, disabled);
}

.lesson__sine_cos_diagram_units_selected {
  color: color('diagram', 'text-base');
}

.lesson__sine_cos_diagram_step_selected {
  color: color('diagram', 'text-base');
}

.lesson__quadrant_selector_table {
  width: 40%;
  table-layout: fixed;
  color: map-get($colors, disabled);
  text-align: center;
}

.lesson__quadrant_steps {
  width: 40%;
  color: map-get($colors, disabled);
  font-size: calc(var(--lesson__diagram-font-size) * 0.6);
  // margin-top: 5%;
  // margin-left: 2%;
}

.lesson__quadrant_steps li {
  margin-top: 5%;
}

.lesson__highlight_sin_theta {
  color: map-get($colors, sine);
  font-family: Times New Roman, serif;
  font-size: calc(var(--lesson__diagram-font-size) * 1.1);
  font-style: italic;
}
