// @import '../geometry';
@import '../../LessonsCommon/AngleCircle/style';

$colors: (
  quadrant:         darken(color('diagram', 'safe', 'darkest'), 2%),
  radialLines:      color('diagram', 'disabled', 'darker'),
  axes:             color(0, light),
  sine:             color('red', 'darker'),
  quadAngles:  color('blue', 'darker'),
);

body {
  @include color_vars($colors);
}


#id_diagram_sin {
  color: map-get($colors, sine);
  font-size: calc(var(--lesson__diagram-font-size) * 0.5);
}

// #id_diagram_quadAngles_1 {
//   font-size: calc(var(--lesson__diagram-font-size) * 0.5);
//   color: map-get($colors, quadAngles);
// }

// #id_diagram_quadAngles_2 {
//   font-size: calc(var(--lesson__diagram-font-size) * 0.5);
//   color: map-get($colors, quadAngles);
//   font-family: Times New Roman serif
//   font-style: italics;
// }

.diagram__quad_angles {
  font-size: calc(var(--lesson__diagram-font-size) * 0.5);
  color: map-get($colors, quadAngles);
  font-family: Times New Roman, serif;
  font-style: italic; 
}
