@import '../geometry';

$colors: (
  anchor:           map-get($geometry_colors, anchor),
  radius:           map-get($geometry_colors, reference),
  reference:        map-get($geometry_colors, reference),
  latin:            color(diagram, 'text-latin'),
  circle:           map-get($geometry_colors, circle),
  rotation:         map-get($geometry_colors, rotation),
);

body {
  @include color_vars($colors);
}
