$_color-palette: $_color-palette_standard;

$_color-theme_dark: (
  primary:                  map-get($_color-palette, blue-light),
  secondary:                map-get($_color-palette, blue),
  danger:                   map-get($_color-palette, red-light),
  safe:                     map-get($_color-palette, green-light),
  passive:                  map-get($_color-palette, yellow-light),
  highlight:                map-get($_color-palette, red-light),
  background:               map-get($_color-palette, black),
  diagram-background:       map-get($_color-palette, black),
  navbar:                   map-get($_color-palette, grey-light),
  text:                     map-get($_color-palette, grey-light),
  negative-text:            map-get($_color-palette, grey-dark),
);
