$color-palette: $color-palette_standard;

$color-theme_standard: (
  primary:                  map-get($color-palette, blue),
  secondary:                map-get($color-palette, blue-light),
  danger:                   map-get($color-palette, red),
  safe:                     map-get($color-palette, green-medium),
  passive:                  map-get($color-palette, yellow),
  highlight:                map-get($color-palette, red),
  background:               map-get($color-palette, white),
  navbar:                   map-get($color-palette, grey-dark),
  text:                     map-get($color-palette, grey-dark),
  negative-text:            map-get($color-palette, grey-light),
);
