$_color-palette: $_color-palette_standard;

$_color-theme_standard: (
  primary:                  map-get($_color-palette, blue),
  secondary:                map-get($_color-palette, blue-light),
  danger:                   map-get($_color-palette, red),
  safe:                     map-get($_color-palette, green-medium),
  passive:                  map-get($_color-palette, yellow),
  highlight:                map-get($_color-palette, red),
  background:               map-get($_color-palette, white),
  diagram-background:       map-get($_color-palette, grey-light),
  navbar:                   map-get($_color-palette, grey-dark),
  text:                     map-get($_color-palette, grey-dark),
  negative-text:            map-get($_color-palette, grey-light),
);
