// Define a contrasts map, mapping the shade of color to a contrast
$contrasts: (
  'higher': 'lighter',
  'high': 'light',
  'low': 'dark',
  'lower': 'darker'
);

// Get a final palette with contrasts added
$standard-dark-theme-palette: add-contrasts-to-palette($_color-palette_n, $contrasts);

// We now have a palette that has colors defined as:
//  - lighter
//  - light
//  - base
//  - dark
//  - darker
//  - lower      (contrast to background)
//  - low        (contrast to background)
//  - high       (contrast to background)
//  - higher     (contrast to background)

// Define the theme colors
$theme-standard-dark: (
  'hue0':             (color: 'black',  shade: 'base'),
  'hue1':             (color: 'white',  shade: 'base'),
  'hue2':             (color: 'blue',   shade: 'base'),
  'hue3':             (color: 'red',    shade: 'base'),
  'hue4':             (color: 'green',  shade: 'base'),
  'hue5':             (color: 'yellow', shade: 'base'),
  'hue6':             (color: 'cyan',   shade: 'base'),
  diagram: (
    'background':     (color: 'black',  shade: 'base'),
    'primary':        (color: 'blue',   shade: 'base'),
    'warning':        (color: 'red',    shade: 'base'),
    'safe':           (color: 'green',  shade: 'base'),
    'text':           (color: 'yellow', shade: 'light'),
    'text-keyword':   (color: 'blue',   shade: 'light'),
    'text-latin':     (color: 'blue',   shade: 'light'),
    'text-greek':     (color: 'blue',   shade: 'light'),
    'text-english':   (color: 'blue',   shade: 'light'),
  ),
  lesson: (
    'background':       (color: 'grey',   shade: 'dark'),
    'text-title':       (color: 'grey',   shade: 'light'),
    'text-page-number': (color: 'grey',   shade: 'light'),
    'navigation':       (color: 'grey',   shade: 'base'),
  ),
  site: (
    'primary':          (color: 'blue',   shade: 'base'),
  ),
  navbar: (
    'background':       (color: 'grey',   shade: 'dark'),
    'base':             (color: 'white',  shade: 'light'),
    'hover':            (color: 'white',  shade: 'lighter'),
    'disabled':         (color: 'white',  shade: 'darker'),
    'toggler-border':   (color: 'white',  shade: 'darker'),
  ),
  palette: $standard-dark-theme-palette,
);
//   navbar-toggler-icon:          $navbar-dark-toggler-icon-bg,

// Give the theme a name
// $standard-dark-theme-colors: $theme-colors;

// @debug palette-color('blue', 'base');
// @debug hue(2);
// @debug hue(diagram, 'primary');
// @debug hue-shade(2, 'base');
// @debug color(2);
// @debug color(diagram, 'primary');
// @debug hue-shaded(diagram, 'primary', 'light');

// @function diagram-hue($name, $type) {
//   @return map-get(map-get($palette, map-get(map-get($hues, diagram), $name)), $type);
// }

// @function lesson-hue($name, $type) {
//   @return map-get(map-get($palette, map-get(map-get($hues, lesson), $name)), $type);
// }

// @function palette_color($color, $shade) {
//   @return map-get(map-get($_color-palette, $color), $shade);
// }

// @debug diagram-hue('primary', 'base');
// @debug lesson-hue('text-title', 'base');
// @debug hue(1, 'base');
// @debug color('blue', 'base');
// $hueNumber: 'hue1';

// @debug "before";
// @debug map-get($hues, $hueNumber);
// @debug map-get($palette, 'blue');
// @debug map-get(map-get($palette, 'blue'), 'light');
// $temp: map-get($hues, 'hue' + 2);
// @debug $temp;
// @debug map-get($palette, $temp);

// @debug hue(1, 'light');

// $semantic: (
//   diagram: (
//     background:                 palette_color('black', 'base'),
//     primary:                    palette_color('blue', 'base'),
//     primary-light:              palette_color('black', 'base'),
//     text:
//     text-keyword:
//     text-latin:
//     text-greek:
//     warning:
//     warning-light:
//     safe:
//     safe-light:
//     )
//   diagram-background: 'black',
//   primary: ''
// );

// @debug $hues;
// @debug "Single Hue";
// // @debug hue('1', 'lighter');
// @debug "Palette";
// @debug $palette;

$_color-palette: $_color-palette_pastel;
$_color-theme_dark2: (
  primary:                      map-get($_color-palette, blue),
  secondary:                    map-get($_color-palette, blue-light),
  danger:                       map-get($_color-palette, red),
  safe:                         map-get($_color-palette, green),
  passive:                      map-get($_color-palette, yellow),
  highlight:                    map-get($_color-palette, red),
  background:                   map-get($_color-palette, grey-medium),
  diagram-background:           map-get($_color-palette, black),
  diagram-low-c-grey:           map-get($_color-palette, grey-dark),
  diagram-high-c-grey:          map-get($_color-palette, grey-light),
  navbar:                       map-get($_color-palette, grey-dark),
  text:                         map-get($_color-palette, grey-vlight),
  diagram-text:                 map-get($_color-palette, yellow-light),
  navigation-buttons:           map-get($_color-palette, grey),
  negative-text:                map-get($_color-palette, grey-dark),
  navbar-background-color:      map-get($_color-palette, grey-dark),
  navbar-color:                 rgba(map-get($_color-palette, white), 0.5),
  navbar-hover-color:           rgba(map-get($_color-palette, white), 0.75),
  navbar-active-color:          map-get($_color-palette, white),
  navbar-disabled-color:        rgba(map-get($_color-palette, white), 0.25),
  navbar-toggler-border-color:  rgba(map-get($_color-palette, white), 0.1),
  navbar-toggler-icon:          $navbar-dark-toggler-icon-bg,
  // //
  // color-blue:                   map-get($_color-palette, blue),
  // color-blue-hc:                map-get($_color-palette, blue-light),
  // color-blue-mc:                map-get($_color-palette, blue-medium),
  // color-blue-lc:                map-get($_color-palette, blue-dark),
  // //
  // color-red:                    map-get($_color-palette, red),
  // color-red-hc:                 map-get($_color-palette, red-light),
  // color-red-mc:                 map-get($_color-palette, red-medium),
  // color-red-lc:                 map-get($_color-palette, red-dark),
  // //
  // color-yellow:                 map-get($_color-palette, yellow),
  // color-yellow-hc:              map-get($_color-palette, yellow-light),
  // color-yellow-mc:              map-get($_color-palette, yellow-medium),
  // color-yellow-lc:              map-get($_color-palette, yellow-dark),
  // //
  // color-green:                  map-get($_color-palette, green),
  // color-green-hc:               map-get($_color-palette, green-light),
  // color-green-mc:               map-get($_color-palette, green-medium),
  // color-green-lc:               map-get($_color-palette, green-dark),
  // //
  // color-cyan:                   map-get($_color-palette, cyan),
  // color-cyan-hc:                map-get($_color-palette, cyan-light),
  // color-cyan-mc:                map-get($_color-palette, cyan-medium),
  // color-cyan-lc:                map-get($_color-palette, cyan-dark),
  // //
  // color-white:                  map-get($_color-palette, white),
  // color-black:                  map-get($_color-palette, black),
  // //
  // color-grey:                   map-get($_color-palette, grey),
  // color-grey-vhc:               map-get($_color-palette, grey-vlight),
  // color-grey-hc:                map-get($_color-palette, grey-light),
  // color-grey-mc:                map-get($_color-palette, grey-medium),
  // color-grey-lc:                map-get($_color-palette, grey-dark),
  // //
  // color-blue-light:             map-get($_color-palette, blue-light),
  // color-blue-medium:            map-get($_color-palette, blue-medium),
  // color-blue-dark:              map-get($_color-palette, blue-dark),
  // color-red-light:              map-get($_color-palette, red-light),
  // color-red-medium:             map-get($_color-palette, red-medium),
  // color-red-dark:               map-get($_color-palette, red-dark),
  // color-yellow-light:           map-get($_color-palette, yellow-light),
  // color-yellow-medium:          map-get($_color-palette, yellow-medium),
  // color-yellow-dark:            map-get($_color-palette, yellow-dark),
  // color-green-light:            map-get($_color-palette, green-light),
  // color-green-medium:           map-get($_color-palette, green-medium),
  // color-green-dark:             map-get($_color-palette, green-dark),
  // color-cyan-light:             map-get($_color-palette, cyan-light),
  // color-cyan-medium:            map-get($_color-palette, cyan-medium),
  // color-cyan-dark:              map-get($_color-palette, cyan-dark),
  // color-grey-vlight:            map-get($_color-palette, grey-vlight),
  // color-grey-light:             map-get($_color-palette, grey-light),
  // color-grey-medium:            map-get($_color-palette, grey-medium),
  // color-grey-dark:              map-get($_color-palette, grey-dark),
);
