.lesson__info_button {
  background-color: color('diagram', 'background');
  color: color('lesson', 'text');
  font-size: calc(var(--lesson__goto_button-font-size));
  width: calc(var(--lesson__goto_button-font-size) * 2.4);
  height: calc(var(--lesson__goto_button-font-size) * 2.4);
  position: absolute;
  left: calc(90% - var(--lesson__goto_button-font-size) * 1.2);
  top: calc(100% - (100% - var(--lesson__content-height)) / 2 - var(--lesson__goto_button-font-size) * 1.2);
  border: 2px solid;
  border-radius: calc(var(--lesson__goto_button-font-size) * 1.2);
  font-family: times new roman, serif;
  font-style: italic;
  padding: 0;
}

.lesson__info_button:hover {
  background-color: color('diagram', 'background', 'darker');
}

.lesson__info_button_show {
  background-color: color('diagram', 'background', 'darker');
}

.lesson__info_button_show:hover {
  background-color: color('diagram', 'background', 'dark');
}

@media (min-aspect-ratio: 3/2) {
  .lesson__info_button {
    left: calc(100% - var(--lesson__np_button-width) / 2 - calc(var(--lesson__goto_button-font-size) * 1.2));
    top: calc(77% + var(--lesson__goto_button-font-size) * 1.2);
  }
}

.lesson__info_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(200, 200, 200, 0.9);
  color: color('diagram', 'disabled', 'darker');
  border-radius: calc(var(--lesson__diagram-font-size) * 0.4);
}

.lesson__info_box p {
  margin: 0;
}

.lesson__info_box__close {
  // text-align: right;
  padding: 0;
  padding-right: calc(var(--lesson__diagram-font-size) * 0.4);
  padding-top: calc(var(--lesson__diagram-font-size) * 0.4);
  font-size: calc(var(--lesson__diagram-font-size) * 0.8);
  width: auto;
  float: right;
}

.lesson__info_box__close:hover {
  color: color('diagram', 'primary', 'light');
}

.lesson__info_box__text {
  padding: calc(var(--lesson__diagram-font-size) * 0.8);
}

.lesson__info_hide {
  left: -10000px;
  top: -10000px;
  font-size: 0;
  border: 0;
  height: 0;
  width: 0;
}
