.lesson__quiz_check {
  border: solid 1px;
  border-radius: calc(var(--lesson__diagram-font-size) * 0.2);
  padding-top: calc(var(--lesson__diagram-font-size) * 0.2);
  padding-bottom: calc(var(--lesson__diagram-font-size) * 0.2);
  padding-left: calc(var(--lesson__diagram-font-size) * 0.5);
  padding-right: calc(var(--lesson__diagram-font-size) * 0.5);
  font-size: calc(var(--lesson__diagram-font-size) * 0.8);
  color: color('diagram', 'quizCheck');
  border-color: color('diagram', 'quizCheck');
  cursor: pointer;
}

.lesson__quiz_check:hover {
  color: color('diagram', 'quizCheck', 'lighter');
  border-color: color('diagram', 'quizCheck', 'lighter');
}
